body {
  margin: 0;
  font-family: "Poor Story", cursive;
  background: #3c0008;
  color: white;
}

.navbar {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: #3c0008;
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: 22px;
}

.navbar span {
  cursor: pointer;
}

.page {
  padding: 40px;
}

/* Home */
.home-title {
  font-size: 60px;
  text-align: center;
  margin-top: 140px;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.home-buttons button {
  background: black;
  color: white;
  padding: 20px 40px;
  border: none;
  font-size: 26px;
  cursor: pointer;
}

/* Project list */
.project-card {
  background: black;
  padding: 20px;
  font-size: 24px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Editor */
.editor-container {
  display: flex;
  gap: 20px;
}

#editor {
  width: 70%;
  min-height: 600px;
  padding: 30px;
  background: white;
  color: black;
  font-size: 20px;
  border: none;
  outline: none;
  overflow-y: auto;
}

/* Sticky notes */
.sticky-notes {
  width: 25%;
}

.note {
  background: #fff3a6;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  color: black;
}

/* Reverie */
.reverie-grid {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.reverie-box {
  background: black;
  padding: 30px;
  font-size: 30px;
  cursor: pointer;
  width: 250px;
  text-align: center;
}
